<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Project Set Editor"
            extensions="psf"
            icon="icons/psf.png"
            class="org.eclipselabs.team.ui.psf.editor.ProjectSetEditor"
            id="org.eclipselabs.team.ui.psf.editor.ProjectSetEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="Project Set"
            icon="icons/psf.png"
            category="org.eclipse.pde.PDE"
            class="org.eclipselabs.team.ui.psf.editor.wizards.ProjectSetImportWizard"
            id="org.eclipselabs.team.ui.psf.editor.wizards.ProjectSetImportWizard">
      </wizard>
   </extension>

</plugin>
